/*
* BRIGHTSIGN MEDIA PLAYER WEB APP
* @desc   Main SASS File
*/

//                   P A T H S
// ---------------------------
  $imagesPath: "../assets";
  $fontsPath: "../assets/fonts"; //need the right file types

//                 G L O B A L
// ---------------------------

$white: #ffffff;
$primary-blue:    #14294b;
$secondary-dark-blue:  #005cb9;

$primary-font: 'Avenir';
$primary-font-medium: 'Avenir';

$primary-font-size: 19pt;
//$title-font-size: 33pt; //this is start btn on idle - should really just import that btn but justin case!

h1{
  // font-size: 19pt;
  font-size: 14pt;
  font-family:$primary-font;
}

//                 S C R E E N
// ---------------------------
body,
html {
  position: fixed;
}

.border{
  border-left: 1pt;
  border-left-style: solid;
  border-left-color: $white;
}


/* ACTIVE STATE */
/* Main Container for Map */
#main-container{
  background: $primary-blue;
  height: 75vh;
  width: 100vw;
  position:absolute;

  .map{
    width:100vw;
    height: 100%;
    background-image: url("../assets/map-only.png");
    background-position:50% 50%;
    background-size: cover;
    overflow:hidden;
  }
}

/*NAVIGATION MENU*/
#nav-menu{
  background: $primary-blue;
  height: 25vh;
  position: fixed;
  margin-top: 75vh; //orig 75
  width: 100vw;

  .main-nav{
    height: 25vh;
  }

  .nav-item{
    // background: blue;
    height:100%;
  }

  .item-cont{
    // background: aqua;
    opacity: 1;
    padding-bottom: 25%;
    height: 25vh;
  }

  .item-title{
    color: white;
    //font-size: 2.3rem;
    text-transform: uppercase;
    text-align: center;
    z-index: 101;
    // margin-top: 12.8vh;
    width: 70%;
  }

  //WHEN BTN MOUSEDOWN HELD
  //.ng-click-active{
  //  //background: yellow;
  //}

  .active{
    background: $white;
    z-index: 200;
    height:30vh;

      .item-cont{
        background: $white;
      }
      .item-title{
        color: $secondary-dark-blue;
        font-weight: bolder;
        // margin-top: 0.6em;
      }
      .item-thumb{
        height: 12.8vh;
        width: 90%;
        margin-top: 12%;
      }
      img{
        width: 100%;
      }
  }

}

/*IDLE*/
#idle-cont{
  height: 100vh;
  width: 100vw;
  position:absolute;
}
