/*
* BRIGHTSIGN MEDIA PLAYER WEB APP
* @desc   Main SASS File
*/
h1 {
  font-size: 19pt;
  font-family: "Avenir";
}

/* ACTIVE STATE */
/* Main Container for Map */
#main-container {
  background: #14294b;
  height: 75vh;
  width: 100vw;
  position: absolute;
}

#main-container .map {
  width: 100vw;
  height: 100%;
  background-image: url("../assets/map-only.png");
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
}

/*NAVIGATION MENU*/
#nav-menu {
  background: #14294b;
  height: 25vh;
  position: fixed;
  margin-top: 75vh;
  width: 100vw;
}

#nav-menu .main-nav {
  height: 25vh;
}

#nav-menu .nav-item {
  height: 100%;
}

#nav-menu .item-cont {
  opacity: 1;
  padding-bottom: 25%;
  height: 20vh;
}

#nav-menu .item-title {
  color: white;
  text-transform: uppercase;
  text-align: center;
  z-index: 101;
  margin-top: 12.8vh;
  width: 70%;
}

#nav-menu .active {
  background: #ffffff;
  height: 30vh;
}

#nav-menu .active .item-cont {
  background: #ffffff;
}

#nav-menu .active .item-title {
  color: #005cb9;
  font-weight: bolder;
  margin-top: 0.6em;
}

#nav-menu .active .item-thumb {
  height: 12.8vh;
  width: 90%;
  margin-top: 12%;
}

#nav-menu .active img {
  width: 100%;
}

/*IDLE*/
#idle-cont {
  height: 100vh;
  width: 100vw;
  position: absolute;
}
