/*
* BRIGHTSIGN MEDIA PLAYER WEB APP
*/

/* ACTIVE STATE */
/* Main Container for Map */
#main-container{
  background: red;
  height: 75vh;
  width: 100vw;
  position:absolute;

  .map{
    width:100vw;
    background-image: url("../media/map.png");
    background-position:50% 50%;
    background-size: cover;
    overflow:hidden;
    padding-bottom:75%;
  }
}

/*NAVIGATION MENU*/
#nav-menu{
  //background: black;
  height: 25vh;
  position: fixed;
  margin-top: 75vh;
  width: 100vw;

  .main-nav{
    height: 25vh;
  }

  .nav-item{
    // background: blue;
    height:100%;
  }

  .item-cont{
    background: aqua;
    opacity: 1;
    padding-bottom: 25%;
    height: 20vh;
  }

  #submitBtn{
    width: 100%;
    height: 100%;
    background-color: rgba(100,0,0,0.5);
    border: 0px;
  }

  h2{
    color: white;
    font-family: 'helvetica', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    text-align: center;
    z-index: 101;
  }

  //.ng-click-active{
  //  //background: yellow;
  //}

  .active{
    background: yellow;
  }

}

/*IDLE*/
#idle-cont{
  height: 100vh;
  width: 100vw;
  position:absolute;
}
